# Test run 2026-09-19T16:41:02

T1 PASS 12s [done] expect='SCOUT_OK' last='SCOUT_OK'
T2 FAIL 487s [TIMEOUT] expect='0.3.5' last=''

SCORE 1/2

